.titleContainer {
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    margin: 0rem auto;
}

.titeText {
    
}

.goalTitle {
    display: flex;
    justify-content: space-between;

}

.inputField {
    width: 70% !important;
}

.btn-success {
    background-color: #01a35a !important;
}