.loginContainer {
    height: 63vh !important;
}

@media (max-width: 1024px){
    .loginContainer{
        height: 76vh !important;
    }
}

@media (max-width: 768px){
    .loginContainer{
        height: 68vh !important;
    }
}

@media (max-width: 500px){
    .loginContainer{
        height: 67vh !important;
    }
}

@media (max-width: 411px){
    .loginContainer{
        height: 70vh !important;
    }
}

@media (max-width: 375px){
    .loginContainer{
        height: 72vh !important;
    }
}

@media (max-width: 360px){
    .loginContainer{
        height: 65vh !important;
    }
}