.startContainer {
    height: 52vh !important;
    margin-bottom: 120px;
}

.infoContainer {
    position: relative;
    top: 20%;
}

.infoCol {
   
}

@media (max-width: 1024px){
    .startContainer{
        height: 69vh !important;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px){
    .startContainer{
        height: 59vh !important;
    }
}

@media (max-width: 500px){
    .startContainer{
        height: 55vh !important;
    }
}

@media (max-width: 411px){
    .startContainer{
        height: 58vh !important;
        margin-top: 40px;
    }
}

@media (max-width: 375px){
    .startContainer{
        height: 60vh !important;
    }
}

@media (max-width: 360px){
    .startContainer{
        height: 50vh !important;
    }
}