.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 4%;
  background-size: 100%, 100%;
  border-radius: 80%;
  background-color: #01a35a !important;
}

.carousel-control-prev-icon {
  top: 0 !important;
  left: 0 !important;
  position: absolute;
  margin: 3.0rem !important;
}

.carousel-control-next-icon {
  top: 0 !important;
  right: 0 !important;
  position: absolute;
  margin: 3.0rem !important;
}

.carousel-control-next-icon:after {
  /* content: '>'; */
  font-size: 100px;
  color: #01a35a;
  opacity: 1 !important;
}

.carousel-control-prev-icon:after {
  /* content: '<'; */
  font-size: 100px;
  color: #01a35a;

}

.carousel-control-prev {

  width: 5% !important;
}

.carousel-control-next {
  width: 5% !important;
}

.carousel-control {
  color: #01a35a;
}

.carousel {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

