.aboutContainer {
    height: 77vh !important;
}

@media (max-width: 1024px){
    .aboutContainer{
        height: 71vh !important;
    }
}

@media (max-width: 768px){
    .aboutContainer{
        height: 61vh !important;
    }
}

@media (max-width: 500px){
    .aboutContainer{
        height: 100% !important;
    }
}

@media (max-width: 411px){
    .aboutContainer{
        height: 100% !important;
    }
}

@media (max-width: 375px){
    .aboutContainer{
        height: 100% !important;
    }
}

@media (max-width: 360px){
    .aboutContainer{
        height: 100% !important;
    }
}